AIRFLOW_DB_USER=your-airflow-db-username
AIRFLOW_DB_PASSWORD=your-airflow-db-password
AIRFLOW_DB_NAME=your-airflow-db-name

AIRFLOW_ADMIN_USERNAME=your-airflow-username
AIRFLOW_ADMIN_PASSWORD=ayour-airflow-password
AIRFLOW_ADMIN_EMAIL=your-email@example.com

AIRFLOW_SECRET_KEY=your-long-random-secret-key
DATABASE_URL=your-supabase-postgresql-connection-string